.workOverviewWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  flex-direction: row;
}

@media (max-width: 800px) {
  .workOverviewWrapper {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-gap: 2em;
  }

  .title {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .type {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/*.workOverviewWrapper>a {
  height: 220px;
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
}*/

.workOverviewWrapper>a {
  height: 220px;
  display: flex;
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a:hover {
  color: var(--second-color);
}

.workOverviewWrapper>a>img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.workOverviewWrapper>a>img:hover {
  border: 5px solid var(--second-color);
  color: var(--second-color);
}




.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr [col-start]);
  grid-gap: 1em;
}

.galleryWrapper>img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.galleryWrapper>iframe {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .galleryWrapper {
    flex-direction: column;
    grid-template-columns: 1fr;
    
  }
}